// font-sizes
$display-statistics: 80px;
$display: 160px;
$heading-1: 60px;
$heading-2: 40px;
$heading-3: 18px;
$paragraph: 15px;
$link: 14px;
$caption: 12px;

// accent-colors

$accent-1: #485c11; // + caption color
$accent-2: #dfecc6; 
$accent-3: #8e9c78;
$accent-4: #000000; // + headline text + link
$accent-5: #6f6f6f; // + paragraph color
$accent-6: #929292;
$divider-1: #e9e9e9;

// arrow-values

$arrow-right: 0deg;
$arrow-left: 180deg;
