@use "__mixins.scss" as *;
@use "__variables.scss" as *;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  margin: 20px 40px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 30px;
      letter-spacing: -5;
      cursor: pointer;
    }

    .nav-guide {
      ul {
        display: flex;
        gap: 27px;
        font-size: $link;
        list-style: none;
        font-weight: bold;

        li {
          cursor: pointer;
        }
      }
    }

    .learn-button {
      @include button(white, $link, $accent-1, $accent-2);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 70px; // for scale

  margin: 72px 20px 0px;

  h1 {
    text-transform: uppercase;
    font-size: $display-statistics;
    font-weight: 400;
    text-align: center;
  }

  .effiency-image-container {
    margin: 0 auto;
    width: 1200px;
    height: 362px;
    background-color: #8e9c78;
    border-radius: 120px;
    z-index: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      z-index: 111;
      object-fit: cover;
      border: 18px solid black;
      border-radius: 35px;
      height: fit-content;
      padding-bottom: 20px;
    }
  }

  .trusted-companies-container {
    p {
      color: $accent-5;
      font-size: $paragraph;
      letter-spacing: -0.5%;
      font-weight: lighter;
    }

    .trusted-companies {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: fit-content;
        height: fit-content;
        margin: 0 20px;
      }
    }
  }

  .benefits {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .benefits-header {
      h2 {
        font-size: $caption;
        color: $accent-1;
        font-weight: normal;
      }

      .benefits-heading-text {
        color: $accent-4;
        font-size: $heading-1;
      }

      .benefits-description-text {
        font-size: $paragraph;
        color: $accent-5;
      }
    }

    .benefits-main-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin: 0 40px;
      justify-content: space-between;
      .benefits-card {
        display: flex;
        flex-direction: column;
        gap: 22px;
        width: 285px;
        height: 250px;
        border-top: $divider-1 2px solid;
        padding-top: 42px;
        img {
          width: fit-content;
          height: fit-content;
          object-fit: cover;
        }

        p:nth-child(1) {
          font-size: $heading-3;
        }

        p:nth-last-child(1) {
          font-size: $paragraph;
          color: $accent-5;
        }
      }
    }
  }

  .second-banner {
    img {
      width: 1725px;
      height: 620px;
      object-fit: cover;
    }
  }

  .see-picture-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    .container-text {
      display: flex;
      flex-direction: column;
      width: 600px;
      height: 710px;
      gap: 40px;
      p:nth-child(1) {
        font-size: $heading-1;
      }
      p:nth-child(2) {
        font-size: $paragraph;
        color: $accent-5;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 40px;

        li {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          span {
            display: inline-block;
          }
        }
      }
      .discover-button {
        @include button($accent-4, $link, $accent-2, $accent-3);
        width: 150px;
        font-weight: bold;
      }
    }
  }

  .why-choose-us {
    margin: 20px 20px;

    .choose-header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      p:nth-child(1) {
        font-size: $caption;
        color: $accent-1;
      }
      p:nth-child(2) {
        font-size: $heading-1;
      }
      p:nth-child(3) {
        font-size: $paragraph;
        color: $accent-5;
        text-align: center;
      }
      .discover-button {
        @include button($accent-4, $link, $accent-2, $accent-3);
        width: 150px;
        font-weight: bold;
      }
    }
    .strength-sides {
      display: flex;
      flex-direction: row;
      margin: 40px 40px;
      justify-content: space-between;
      .strength-container {
        display: flex;
        flex-direction: column;
        border: 2px $divider-1 solid;
        width: 400px;
        height: 585px;
        border-radius: 20px;
        .strength-container-title {
          font-size: 26px;
          letter-spacing: -8%;
          text-align: center;
          border-bottom: 2px $divider-1 solid;
          padding-top: 25px;
          padding-bottom: 25px;

          .web-surge,
          .hyperview {
            font-size: 23px;
            letter-spacing: -8%;
            color: $accent-5;
          }
        }

        .strength-body {
          .advantage-list {
            width: 400px;
            height: 80px;
            border-bottom: 2px $divider-1 solid;
            padding: 30px 35px;
            display: flex;
            align-items: center;
            gap: 20px;
            p {
              font-size: $caption;
            }
          }
          .advantage-list:last-of-type {
            width: 400px;
            height: 80px;
            padding: 30px 35px;
            border: none;
            p {
              font-size: $caption;
            }
          }
        }
      }
    }
  }

  .user-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px;
    img {
      width: fit-content;
      height: fit-content;
      object-fit: cover;
    }

    .user-review-text {
      width: 600px;
      height: 670px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-top: 40px;
      justify-content: center;
      p:nth-child(1) {
        font-size: $heading-2;
      }

      .user-name {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p:nth-child(1) {
          font-size: $paragraph;
        }
        p:nth-child(2) {
          font-size: $caption;
          color: $accent-1;
        }
      }
    }
  }

  .start-now {
    margin: 0 20px;
    border-top: 2px $divider-1 solid;
    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 80px;
      p {
        font-size: $heading-1;
      }

      button {
        @include button($accent-4, $link, $accent-2, $accent-3);
        width: 140px;
        height: 50px;
        font-weight: bold;
      }
    }

    &-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .start-now-card {
        border-top: $divider-1 2px solid;
        width: 387px;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 60px;

        .statistics {
          font-size: $display-statistics;
          color: $accent-6;
        }
        .description {
          gap: 20px;
          display: flex;
          flex-direction: column;

          p:nth-child(1) {
            font-size: $heading-3;
          }

          p:nth-child(2) {
            font-size: $paragraph;
            color: $accent-5;
          }
        }
      }
    }
  }
  .img-container {
    display: flex;
    justify-content: center;
    img {
      border-radius: 30px;
      width: 1700px;
      height: 700px;
      object-fit: cover;
    }
  }
}

footer {
  margin: 0 20px;
  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    p:nth-child(1) {
      font-size: $heading-1;
    }
    p:nth-child(2) {
      font-size: $paragraph;
      width: 600px;
      text-align: center;
      color: $accent-5;
    }
    button {
      @include button($accent-2, $link, $accent-1, $accent-2);
      width: 600px;
      font-weight: bold;
      text-align: center;
    }
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    .footer-header {
      display: flex;
      gap: 27px;

      a {
        font-size: $link;
        text-decoration: none;
        color: $accent-4;
      }
    }
    .footer-body {
      margin-top: 80px;
      display: flex;
      font-size: $caption;
      color: $accent-1;
      justify-content: space-between;

      .footer-left-container {
        display: flex;
        gap: 40px;

        .footer-left-text {
          margin-top: 45px;
          gap: 16px;
          display: flex;
        }
      }
      .copyright {
        text-align: end;
        display: flex;
        align-items: center;
      }
    }
  }
}
